html {
    color: #000000;
}
body {
    background-color: #EEF2FF;
    background-image: linear-gradient(to bottom, #D1D5EE 0px, #EEF2FF 200px);
    background-repeat: no-repeat;
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
}
.heading {
	color:#8B0000;
	text-align: center;
	font-weight: bolder;
	font-size: 35px;
}
.intro, .alt {
	color:#8B0000;
	text-align: center;
	font-weight: bolder;
}
p.heading, p.intro { margin: 0px !important; }
.subheading {
	color:#8B0000;
	text-align: center;
	font-weight: bolder;
	font-size: 18px;
}
p.qlinks {
	color: red;
	text-align: center;
}
.replicapost {
	max-width: 99%;
	background-color: #D6DAF0;
    border: 1px solid #B7C5D9;
    border-style: solid solid solid solid;
    padding: 2px;
	margin-bottom: 7px;
}
.qrgeneral {
	font-weight: bold;
	padding: 5px;
	padding-left: 37px;
}
.qr {
	font-weight: bold;
	padding: 5px;

}
.qno {
	color: black;
	font-weight: bold;
}
.qname {
	color: green;
	font-weight: bold;
}
.tripcode {
	border: 1px solid red;
	padding: 2px;
	border-radius: 25px;
	background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
	text-align: center;
	background-size: 800% 800%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbow 4s ease infinite;
}
@keyframes rainbow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}
.postID {
	padding: 2px;
	border-radius: 25px;
}
.totalposts, .downarrow {
	font-weight: bold;
}
.qfiles {
	padding-left: 37px;
}
.fileinfo {
	padding-left: 37px;
}
.posttotal {
	display:flex;
	flex-direction:row;
}
.filethumbnail {
	cursor: pointer;
	padding-top: 10px;
	padding-left: 37px;
	position: relative;
/*	display: inline-block; */
	flex: 1 1 0px;
}
.filethumbnail:hover .quoteposthover {
	visibility: visible;
	padding-top: 10px;
}
img:hover {
	cursor: pointer;
}
.postcontent {
	display: inline-block;
	padding-top: 10px;
	padding-left: 37px;
	vertical-align: top;
}
.quotelink { cursor: pointer; text-decoration: underline; position: relative; display: inline-block; }
.quotecontent { display: none;}
.quotelink .quotecontent {
  visibility: hidden;
  display: none;
  min-width:500px;
  position: absolute;
  z-index: 1;
  left: 110%;
  opacity: 1;
  overflow: hidden; 
  outline-style: dotted; 
  outline-width: 1px;
}
.quotelink .quotecontent::after {
  content: "";
  position: absolute;
}
.quotelink:hover .quotecontent {
  visibility: visible;
  opacity: 1;
}
.quotelink:hover .quotecontent { display: inline-block; }
.linknumber { color: red; }
.linknumber:hover { color: blue; }
.filethumbnail { cursor: pointer; position: relative; display: inline-block; }
.thumbnail { height: 250px; width: auto; }
.opthumbnail { width:250px; }
.quoteposthover { visibility: hidden; position: absolute; z-index:1; top:0; left: 105%; }
.filethumbnail:hover .quoteposthover { visibility: visible; }
.currentpostcontent {
	display: inline-block;
	padding-top: 10px;
	padding-left: 37px;
	vertical-align: top;
}
.disclaimer {
	color: grey;
	font-size: 12px;
	font-style: oblique;
	padding-top: 10px;
	padding-left: 37px;
}
a:link, a:visited, a.email {
	color: #0000ff;
}
a:link:hover {
	color: #d00;
}
#expandedquote {
	outline-style: dotted; 
	outline-width: 1px;
}
/* Top arrow & Bottom arrow buttons */
#Topbox, #Bottombox {
	position: fixed;
	top: 20px;
	z-index: 99;
	background-color: #EEF2FF;
	cursor: pointer;
	padding: 5px;
}
#Topbox {
	right: 50px;
}
#Bottombox {
	right: 20px;
}
#Topbox:hover, #Bottombox:hover {
	background-color: #D6DAF0;
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}