/*
 * Last edit: 2020-02-20-1240
 */
html {
	color: #000000;
}
body {
	background-color: #EEF2FF;
	background-image: linear-gradient(to bottom, #D1D5EE 0px, #EEF2FF 200px);
	background-repeat: no-repeat;
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
}
/* Top arrow & Bottom arrow buttons */
.arrowbox {
	position: fixed;
	top: 20px;
	z-index: 99;
	background-color: #EEF2FF;
	cursor: pointer;
	padding: 5px;
}
#Topbox {
	right: 50px;
}
#Bottombox {
	right: 20px;
}
.arrowbox:hover {
	background-color: #D6DAF0;
}
.heading, .subheading {
	color: #AF0A0F;
	font-family: tahoma;
	text-align: center;
	font-weight: bolder;
}
.heading {
	letter-spacing: -2px;
	font-size: 20pt;
}
.subheading {
	font-size: 18px;
}
.intro, .alt {
	color: #AF0A0F;
	text-align: center;
	font-weight: bolder;
}
.pqlinks {
	color: red;
	text-align: center;
}
.heading, .intro, .pqlinks, .quotedpost, .quotecontenthovers, .quotecontentexpand, .quotevideohovers, .quotevideoexpand, .twitter-tweet, .twitterhovers, .twitterexpand { 
	margin: 0px !important; 
}
a:link, a:visited, a.email, .sqlinks, .embedlink {
	text-decoration: underline;
	color: #34345C;
	-webkit-text-decoration-color: #34345C;
	text-decoration-color: #34345C;
}
a:link:hover, a:visited:hover, .sqlinks:hover, .embedlink:hover {
	color: red;
	-webkit-text-decoration-color: red;
	text-decoration-color: red;
}
.replicapost, .quotedpost {
	background-color: #D6DAF0;
}
.replicapost {
	display: inline-block; 
	border: 1px solid #B7C5D9;
	border-style: none solid solid none;
	margin-bottom: 7px;
	margin-left: 5px;
	padding-left: 5px;
}
.qrgeneral {
	display: inline-block; 
	font-weight: bold;
	padding: 5px;
	padding-left: 37px;
	margin-right: 5px;
}
.qno {
	color: black;
	font-weight: bold;
}
.qname {
	color: green;
	font-weight: bold;
}
.subject {
	color: #34345C;
	font-weight: bold;
}
.tripcode::before, .tripcode::after {
	font-size:18px;
	content:" ";
	color:#bbbbff;
}
.tripcode {
	padding:1px 3px 1px 3px;
	background-color:black;
	border-radius:8px;
	border:1px solid #bbbbee;
	color:gold;
	background: linear-gradient(300deg, #ff0000, #ff0000, #ff0000, #bbbbbb, #4444ff);
	background-size: 800% 800%;
	
	-webkit-animation: Patriot 5s ease infinite;
	-moz-animation: Patriot 5s ease infinite;
	-o-animation: Patriot 5s ease infinite;
	animation: Patriot 5s ease infinite;
	
	-webkit-text-fill-color: transparent;
	
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
}
@-webkit-keyframes Patriot {
    0%{background-position:0% 19%}
    50%{background-position:100% 82%}
    100%{background-position:0% 19%}
}
@-moz-keyframes Patriot {
    0%{background-position:0% 19%}
    50%{background-position:100% 82%}
    100%{background-position:0% 19%}
}
@-o-keyframes Patriot {
    0%{background-position:0% 19%}
    50%{background-position:100% 82%}
    100%{background-position:0% 19%}
}
@keyframes Patriot {
    0%{background-position:0% 19%}
    50%{background-position:100% 82%}
    100%{background-position:0% 19%}
}
.postID {
	padding: 2px;
	border-radius: 25px;
}
.totalposts, .savetodisk {
	font-weight: bold;
}
.posttext {
	padding-left: 15px;
	display: inline-block;
}
img:hover {
	cursor: pointer;
}
.thumbnail {
  height: auto;
  width: 250px;
}
.postcontent {
	background-color: #D6DAF0;
	display: inline-block;
	padding-top: 10px;
	padding-left: 55px;
	padding-bottom: 10px;
	vertical-align: top;
	margin-right: 5px;
}
.postfiles {
	float:left;
}
.file1, .file2, .file3, .file4, .file5 {
	float:left;
	margin-right:5px;
}
.filethumbnail { 
	cursor: pointer; 
	position: relative; 
	display: inline-block; 
}
.filethumbnail:hover .quoteposthover {
	visibility: visible;
}
.fileinfo {
	display: inline-block;
	max-width:250px;
}
.sqlinks, .quotelink, .embedlink { 
	cursor: pointer; 
	text-decoration: underline; 
	position: relative; 
	display: inline-block; 
}
.quotelink { 
	-webkit-text-decoration-color: red; /* Safari */ 
	text-decoration-color: red; 
}
.quotelink:hover { 
	-webkit-text-decoration-color: #34345C; 
	text-decoration-color: #34345C; 
}
.twitterhovers, .twitterexpand {
	min-width: 100px;
}	
.quotecontenthovers, .quotecontentexpand { 
	min-width: 800px;
}
.quotecontenthovers, .quotecontentexpand, .twitterhovers, .twitterexpand, .quotevideohovers, .quotevideoexpand { 
	background-color: #D6DAF0; 
	display: none;
}
.quotecontenthovers, .twitterhovers, .twitterexpand, .quotevideohovers {
	border: 1px solid #B7C5D9; 
	border-style: solid solid solid solid; 
}
.quotecontentexpand, .quotevideoexpand { 
	outline: 2px dashed black;
}
.sqlinks .quotecontenthovers, .quotelink .quotecontenthovers, .embedlink .quotecontenthovers, .sqlinks .quotecontentexpand, .quotelink .quotecontentexpand, .embedlink .quotecontentexpand, .embedlink .twitterhovers, .embedlink .twitterexpand, .embedlink .quotevideohovers, .embedlink .quotevideoexpand {
	visibility: hidden;
	display: none;
	background-color: #D6DAF0;
	position: absolute;
	z-index: 1;
	left: 110%;
	opacity: 1;
	overflow: hidden; 
	border: 1px solid #B7C5D9; 
	border-style: solid solid solid solid;
}
.sqlinks .quotecontenthovers::after, .quotelink .quotecontenthovers::after, .embedlink .quotecontenthovers::after, .sqlinks .quotecontentexpand::after, .quotelink .quotecontentexpand::after, .embedlink .quotecontentexpand::after, .embedlink .twitterhovers::after, .embedlink .twitterexpand::after, .embedlink .quotevideohovers::after, .embedlink .quotevideoexpand::after {
	content: "";
	position: absolute;
}
.sqlinks:hover .quotecontenthovers, .quotelink:hover .quotecontenthovers, .embedlink:hover .quotecontenthovers, .sqlinks:hover .quotecontentexpand, .quotelink:hover .quotecontentexpand, .embedlink:hover .quotecontentexpand, .embedlink:hover .twitterhovers, .embedlink:hover .twitterexpand, .embedlink:hover .quotevideohovers, .embedlink:hover .quotevideoexpand {
	visibility: visible;
	opacity: 1;
	display: inline-block;
}
.quotevideohovers, .quotevideoexpand { 
	min-width: 640px;
}
.linknumber { 
	color: red; 
}
.linknumber:hover { 
	color: #34345C; 
	-webkit-text-decoration-color: #34345C; 
	text-decoration-color: #34345C; 
}
.quoteposthover { 
	visibility: hidden; 
	position: absolute; 
	z-index: 1; 
	top: 0; 
	left: 105%; 
}
.disclaimer {
	color: grey;
	font-size: 12px;
	font-style: oblique;
	padding-top: 10px;
	padding-right: 5px;
}
iframe {
	border-width: 0px;
}